@font-face {
  font-family: 'RobotoRegular';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
} 
@font-face {
  font-family: 'RobotoLight';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
} 
@font-face {
  font-family: 'RobotoThin';
  src: url('fonts/Roboto-Thin.ttf') format('truetype');
} 
@font-face {
  font-family: 'RobotoBold';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
}

body {
    background-color: #161616;
    font-family: RobotoRegular;
	overflow-y: scroll;
	overflow-x: hidden;
	
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.div_root {	
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}

.div_title {	
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.div_user {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.span_name {
    color: #808080;
	font-size: 14px;
    margin: 1%;
	font-family: RobotoBold;
}

.span_title {
    color: #808080;
	font-size: 36px;
    margin-top: 1%;
    margin-bottom: 1%;
	font-family: RobotoThin;
}

.div_content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.div_textarea {
    margin-top:12px;
}

.textarea {
  width: 400px;
  height: 180px; 
  text-align: left;
  padding-left:18px;
  padding-top:18px;
  padding-bottom:18px;
  padding-right: 18px;
  text-align: top;
  text-decoration: none;
  box-sizing: border-box;
  border: 0;
  border-radius: 36px;
  background-color: #121212;
  color: #909090;
  font-size: 16px;
  resize: none;
  transition-duration: 0.25s;
  font-family: RobotoLight;
}

.textarea:hover {
  background-color: #181818;
  transition-duration: 0.5s;
}

.textarea:focus {
  background-color: #242424;
  outline: none;
}

.div_button {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.button {
	width: 220px;
	height: 36px;
	background-color: #26baff;
	border: none;
	border-radius: 18px;
	color: #f0f0f0;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
    font-family: RobotoBold;
}

.button:hover {
	color: #ffffff;
	background-color: #03fcdb;
	transition-duration: 0.25s;
    font-family: RobotoBold;
}

.button:active {
	color: #70b0db;
	background-color: #3376a3;
	transition-duration: 0.1s;
    font-family: RobotoBold;
}

.button:disabled,
.button.disabled {
  color:#646464;
  background-color: #363636;
  font-family: RobotoBold;
}

.div_item a {
	text-decoration:none;
}

.div.Title { 
    font-family: RobotoThin;
}