@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoThin';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoBold';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

body {
	background: linear-gradient(-45deg, #100638, #200638, #410f57, #7a1e7d);
	background-size: 200% 200%;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.margin_left_8 {
	margin-left: 8px;
}

.margin_left_16 {
	margin-left: 16px;
}

.margin_top_16 {
	margin-top: 16px;
}

.margin_top_8 {
	margin-top: 8px;
}

.center_horizontal {
	display: flex;
	justify-content: center;
}

.div_information {
	margin-left: 16px;
}

.div_root {
	width: 100%;
	height: 100%;
	gap: 48px;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	/* center horizontal */
	/* justify-content: center; /* center vertical */
}

.span_title {
	color: #fff;
	font-size: 48px;
	font-family: RobotoThin;
	margin-top: 32px;
}

.div_card {
	width: 80vw;
	max-width: 560px;
	background: #ffffff16;
	border-radius: 50px;
	padding: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.5);
	transition: 0.2s ease;
}

.div_card:hover {
	transform: scale(1.005);
	background: #ffffff24;
}

.divider {
	margin-top: 8px;
	width: 100%;
	height: 1px;
	background: #ffffff80;
}

.profile_image {
	float: left;
	width: 150px;
	height: 150px;
	filter: drop-shadow(2px 0px 0px #fff) drop-shadow(-2px 0px 0px #fff) drop-shadow(0px 2px 0px #fff) drop-shadow(0px -2px 0px #fff);
}

.user_name {
	margin: 0px;
	color: #fff;
	font-family: RobotoThin;
	font-size: 36px;
}

.user_description {
	margin-top: 24px;
	margin-bottom: 0px;
	color: rgba(255, 255, 255, 0.75);
	font-family: RobotoRegular;
	font-size: 18px;
}

.div_status {
	display: flex;
}

.text_counter {
	color: #ffffff64;
	font-family: RobotoRegular;
}

.text_regular {
	margin: 0px;
	color: rgba(255, 255, 255, 0.75);
	font-family: RobotoRegular;
	font-size: 16px;
}

.text_regular_red {
	margin: 0px;
	color: rgba(0, 0, 0, 0.5);
	font-family: RobotoRegular;
	font-size: 16px;
}

.text_bold {
	margin: 0px;
	color: #fff;
	font-family: RobotoBold;
	font-size: 16px;
}

.div_textarea {
	margin-top: 24px;
}

textarea {
	width: 100%;
	height: 180px;
	text-align: left;
	padding-left: 18px;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 18px;
	text-align: top;
	text-decoration: none;
	box-sizing: border-box;
	border: none;
	border-radius: 18px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff24;
	border-radius: 36px;
	background-color: #00000024;
	color: #ffffff;
	font-size: 16px;
	resize: none;
	transition-duration: 0.25s;
	font-family: RobotoRegular;
}

textarea::placeholder {
	color: #ffffff64;
}

textarea:hover {
	background-color: #00000036;
	transition-duration: 0.5s;
}

textarea:focus {
	background-color: #00000048;
	outline: none;
}

textarea:disabled,
textarea.disabled {
	color: #ffffff80;
	background: #00000016;
}

.div_counter {
	display: flex;
	justify-content: flex-end;
}

button {
	width: 220px;
	height: 36px;
	background: linear-gradient(144deg, #801fb5, #671fb5);
	color: #ffffffcc;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-family: RobotoBold;
	border: none;
	border-radius: 18px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.25);
	cursor: pointer;
}

button:hover {
	color: #ffffff;
	background: linear-gradient(144deg, #9b25db, #7724d1);
	font-family: RobotoBold;
}

button:active {
	color: #ffffff;
	background: linear-gradient(270deg, #b733ff, #8b2ef0);
	font-family: RobotoBold;
}

button:disabled,
button.disabled {
	color: #ffffff64;
	background: #ffffff32;
	font-family: RobotoBold;
}

.bottom_right_overlay {
	position: absolute;
	bottom: 16px;
	right: 16px;
	z-index: 10;
}

.button_dev {
	width: 220px;
	height: 36px;
	background: #801fb5;
	border: none;
	border-radius: 18px;
	color: #ffffffcc;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-family: RobotoBold;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.25);
	cursor: pointer;
	transition-duration: 0.25s;
}

.button_dev:hover {
	color: #ffffff;
	background: #9b25db;
	font-family: RobotoBold;
	transition-duration: 0.25s;
}

.button_dev:active {
	color: #ffffff;
	background: #6715bf;
	transition-duration: 0.5s;
	font-family: RobotoBold;
}

.div_root_button {
	position: relative;
}

.div_button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.text_sending {
	margin: 0px;
	color: #ffffffcc;
	font-size: 20px;
	font-family: RobotoRegular;
}

.div_loading {
	visibility: hidden;
}

.loader {
	width: 60px;
	aspect-ratio: 2;
	--_g: no-repeat radial-gradient(circle closest-side, #9b25db 90%, #0000);
	background:
		var(--_g) 0% 50%,
		var(--_g) 50% 50%,
		var(--_g) 100% 50%;
	background-size: calc(100%/3) 50%;
	animation: l3 1s infinite linear;
}

@keyframes l3 {
	20% {
		background-position: 0% 0%, 50% 50%, 100% 50%
	}

	40% {
		background-position: 0% 100%, 50% 0%, 100% 50%
	}

	60% {
		background-position: 0% 50%, 50% 100%, 100% 0%
	}

	80% {
		background-position: 0% 50%, 50% 50%, 100% 100%
	}
}

@media (max-width: 480px) {
	.span_title {
		font-size: 10vw;
	}
}